<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Parentsuite">
	
	<listeners>

		<listener class-name="isuitelistener.Listenerstest"></listener>
			<listener class-name="isuitelistener.Exelistener"></listener>
		
		</listeners>
		
	<suite-files>
		
		<suite-file path="testng.child2.xml"></suite-file>
		<suite-file path="testng.child1.xml"></suite-file>
		
	</suite-files>
</suite>
	

